
body {
    background: white;
}

/*
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: red;
}
*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 50px;
/*    background: #fff;*/

line-height: 60px;
cursor: pointer;

    
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
	
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
	
	background: #243e56;
	color: rgba(255, 255, 255, 0.7);

    transition: all 0.3s;
	
}

#sidebar.active {
    margin-left: -350px;
}

#sidebar .sidebar-header {
   
    background: #243e56;
    color: rgba(255, 255, 255, 0.7);
	/*linear-gradient(rgba(10,0,153,0.87), rgba(0,230,234,1))*/
}

#sidebar ul.components {
    padding: 20px 0;
    
    /*border-bottom: 1px solid white;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
	
}

#sidebar ul li a {
        padding: 15px;
        padding-left: 30px;
    font-size: 1.1em;
    display: block;
	border-bottom: 1px solid #172736;
}

#submenu{
	 color: pink;
	 border-bottom: 1px solid #f2f2f2;
}

#sidebar ul li a:hover {
    color: #243e56;
    background: white;
        padding: 15px;
        padding-right: 23px;
        
}

#sidebar ul ul a:hover {
    color: #243e56;
    background:  rgba(255, 255, 255, 0.7);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #243e56;
    background: white;
        padding: 15px;
        padding-left: 30px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
	color: #243e56;
    background: white;
}


/* botao fim da sidebar */
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
	
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 350px);
    /*padding: 40px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#page{
    padding: 50px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 960px) {
    /**/
    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 350px);
    }

}

@media (max-width: 800px) {
    .navbar{
        justify-content: center;
        justify-items: center;
        align-content: center;
    }
}



